<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-event-heading" jhiTranslate="colibriApp.event.home.createOrEditLabel">Create or edit a Event</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!event.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="event.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="event.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="event.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.picture" for="field_picture">Picture</label>
                    <input type="text" class="form-control" name="picture" id="field_picture"
                        [(ngModel)]="event.picture" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                        [(ngModel)]="event.location" required/>
                    <div [hidden]="!(editForm.controls.location?.dirty && editForm.controls.location?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.location?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="event.startDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="event.endDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.endDate?.dirty && editForm.controls.endDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="colibriApp.event.recurrence" for="field_recurrence">Recurrence</label>
                    <input type="number" class="form-control" name="recurrence" id="field_recurrence"
                        [(ngModel)]="event.recurrence" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="colibriApp.event.participant" for="field_participant">Participant</label>
                    <select class="form-control" id="field_participant" multiple name="participant" [(ngModel)]="event.participants">
                        <option [ngValue]="getSelected(event.participants, profileOption)" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
