<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 *ngIf="!success">Créez votre association</h1>
            <h1 *ngIf="success">Colibri est heureux d'accueillir votre association</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Votre association a été créée</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Une erreur est survenue</strong> Réessayez plus tard s'il vous plaît.
            </div>

        </div>
    </div>
    <div *ngIf="!success">
        <div class="form-fields row col-md-12">
            <div class="input-box col-md-3">
                <div class="background-container">
                    <label class="field a-field a-field_a1 page__field">
                        <input class="field__input" placeholder="Exemple: Timbr'tac" [(ngModel)]="association.name" required>
                        <span class="field__label-wrap">
                            <span class="field__label">Name</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="input-box col-md-3">
                <div class="background-container">
                    <label class="field a-field a-field_a1 page__field">
                        <input class="field__input" placeholder="Exemple: 02 rue des Lilas" [(ngModel)]="association.address" required>
                        <span class="field__label-wrap">
                            <span class="field__label">Adresse</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="input-box col-md-3">
                <div class="background-container">
                    <label class="field a-field a-field_a1 page__field">
                        <input class="field__input" placeholder="Exemple: 75001" [(ngModel)]="association.postcode" required>
                        <span class="field__label-wrap">
                            <span class="field__label">Code Postal</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="input-box col-md-3">
                <div class="background-container">
                    <label class="field a-field a-field_a1 page__field">
                        <input class="field__input" placeholder="Exemple: Paris" [(ngModel)]="association.city" required>
                        <span class="field__label-wrap">
                            <span class="field__label">Ville</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-fields">
            <div class="input-box col-md-5 desc">
                <div class="background-container">
                    <span>Description : </span><br>
                    <textarea [(ngModel)]="association.description" id="description" cols="30" rows="2"></textarea>
                </div>
            </div>
            <div class="input-box col-md-5 desc">
                <div class="background-container">
                    <label class="field a-field a-field_a1 page__field">
                        <input class="field__input" [(ngModel)]="association.picture" placeholder="Lien image">
                        <span class="field__label-wrap">
                            <span class="field__label">Image</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <button class="btn_p btn-val" (click)="createAssociation()">Valider</button>
    </div>
</div>
