/* ==============================================================
Create assoc
===============================================================*/
.form-fields {
    display: flex;
}

.input-box {
    height: 100px;
    padding: 5px;
}

.input-box.desc {
    height: 125px;
}

.background-container {
    width: 95%;
    height: 95%;
    background: #e4e5e6;
    border-radius: 4px;
    opacity: 0.5;
}

.input-box .background-container{
    text-align: center;
}

/* ==============================================================
Create assoc / BUTTONS
===============================================================*/

/* Buttons */
.btn_p {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_p:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Button Validate */
.btn-val {
    border: 3px solid #28a745;
    color: #28a745;
    float: right;
}

.btn-val:hover,
.btn-val:active {
    color: #fff;
    background: #28a745;
}

/* ==============================================================
Create assoc / INPUT
===============================================================*/
/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{
    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: 1em;
}

.a-field .field__input:focus{
    outline: none;
}

.field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.field{
    display: inline-block;
}

.field__input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);

    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
}

.a-field .field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field .field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field .field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.a-field .field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.a-field .field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.a-field .field__label-wrap{
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);

    pointer-events: none;
    cursor: text;

    position: absolute;
    bottom: 0;
    left: 0;
}

.a-field .field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);

    line-height: 1;
    font-size: var(--uiFieldHintFontSize);

    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
}

.a-field .field__input:focus ~ .field__label-wrap .field__label{
    opacity: 1;
    bottom: var(--uiFieldHeight);
}

/* a-field_a1 */

.a-field_a1 .field__input{
    transition: border-color .2s ease-out;
    will-change: border-color;
}

.a-field_a1 .field__input:focus{
    border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 */

.a-field_a2 .field__label-wrap:after{
    content: "";
    box-sizing: border-box;
    width: 0;
    height: var(--uiFieldBorderWidth);
    background-color: var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: width;
    transition: width .285s ease-out;
}

.a-field_a2 .field__input:focus ~ .field__label-wrap:after{
    width: 100%;
}

/* a-field_a3 */

.a-field_a3{
    padding-top: 1.5em;
}

.a-field_a3 .field__label-wrap:after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;

    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .field__input:focus ~ .field__label-wrap:after{
    height: 100%;
    opacity: 1;
}

.a-field_a3 .field__input:focus ~ .field__label-wrap .field__label{
    bottom: calc(var(--uiFieldHeight) + .5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field{
    --fieldBorderColor: #D1C4E9;
    --fieldBorderColorActive: #673AB7;
}





/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
