<div>
    <h2 id="page-heading">
        <span jhiTranslate="colibriApp.profile.home.title">Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile" [routerLink]="['/profile/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="colibriApp.profile.home.createLabel">
            Create new Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="profiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="colibriApp.profile.birthDate">Birth Date</span></th>
            <th><span jhiTranslate="colibriApp.profile.address">Address</span></th>
            <th><span jhiTranslate="colibriApp.profile.postcode">Postcode</span></th>
            <th><span jhiTranslate="colibriApp.profile.city">City</span></th>
            <th><span jhiTranslate="colibriApp.profile.phone">Phone</span></th>
            <th><span jhiTranslate="colibriApp.profile.user">User</span></th>
            <th><span jhiTranslate="colibriApp.profile.role">Role</span></th>
            <th><span jhiTranslate="colibriApp.profile.category">Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profile of profiles ;trackBy: trackId">
                <td><a [routerLink]="['/profile', profile.id, 'view' ]">{{profile.id}}</a></td>
                <td>{{profile.birthDate | date:'mediumDate'}}</td>
                <td>{{profile.address}}</td>
                <td>{{profile.postcode}}</td>
                <td>{{profile.city}}</td>
                <td>{{profile.phone}}</td>
                <td>
                    {{profile.userId}}
                </td>
                <td>
                    <div *ngIf="profile.roleId">
                        <a [routerLink]="['../role', profile.roleId , 'view' ]" >{{profile.roleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="profile.categoryId">
                        <a [routerLink]="['../category', profile.categoryId , 'view' ]" >{{profile.categoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/profile', profile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profile', profile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile/'+ profile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
